<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note App | About</title>
</head>

<body>
    
    <style>
        .kart {
            white-space: pre-line;
            margin-left: auto !important;
            margin-right: auto !important;
            padding-left: 10% !important;
            padding-right: 10% !important;
        }
    </style>
    
    {% include 'includes/sidebar.html' %}

    <main class="kart main-content">
        
        <h2>About Me</h2><hr>
            Welcome to my NoteApp website! I am a passionate developer dedicated to creating a seamless note-taking experience for users like you. My goal is to provide a user-friendly platform that helps you organize your thoughts, ideas, and important information effortlessly.
    
            At NoteApp, I understand the importance of efficient note-taking in today's fast-paced world. Whether you're a student, a professional, or someone who simply loves jotting down their ideas, my app is designed to be your go-to tool.
            
            <strong>Why Choose NoteApp?</strong>
            
            User-Friendly Interface: I have designed my app with simplicity in mind. The intuitive interface ensures that you can start using NoteApp right away, without any steep learning curve.
            
            Sync Across Devices: Access your notes anytime, anywhere. NoteApp seamlessly syncs your data across multiple devices, ensuring that you never miss a beat.           

            Privacy and Security: I prioritize the security of your data. NoteApp employs robust encryption protocols to safeguard your notes and ensure your privacy.
            
            Get in Touch <a href="https://github.com/PrarieComamile">https://github.com/PrarieComamile</a>
            
            I value your feedback and suggestions. If you have any questions, comments, or ideas for improving my app, please don't hesitate to contact me.

        <hr>

    </main>
</body>
</html>


